.classpath
.project
.settings

bin/*
libs/*
target/*

src/us/myles_selim/starota/DebugServer.java

starota.properties
starotaData/data/*
starotaData/options/*
starotaData/profiles/*
starotaData/tradeboard/*
starotaData/lua/*
starotaData/leaderboard/*
/target/
