.classpath
.project
.settings

bin/*
libs/*
target/*

starota.properties
starotaData/data/*
starotaData/options/*
starotaData/profiles/*
starotaData/tradeboard/*
starotaData/lua/*
starotaData/leaderboard/*
starota_dump*

/target/
