.badge-servers {
  color: #fff;
  background-color: #7289da;
}

.border-left-normal {
  border-left: .25rem solid #a8a878!important;
}

.border-left-fire {
  border-left: .25rem solid #f08030!important;
}

.border-left-fighting {
  border-left: .25rem solid #c03028!important;
}

.border-left-water {
  border-left: .25rem solid #6890f0!important;
}

.border-left-flying {
  border-left: .25rem solid #a890f0!important;
}

.border-left-grass {
  border-left: .25rem solid #78c850!important;
}

.border-left-poison {
  border-left: .25rem solid #a040a0!important;
}

.border-left-electric {
  border-left: .25rem solid #f8d030!important;
}

.border-left-ground {
  border-left: .25rem solid #e0c068!important;
}

.border-left-psychic {
  border-left: .25rem solid #f85888!important;
}

.border-left-rock {
  border-left: .25rem solid #b8a038!important;
}

.border-left-ice {
  border-left: .25rem solid #98d8d8!important;
}

.border-left-bug {
  border-left: .25rem solid #a8b820!important;
}

.border-left-dragon {
  border-left: .25rem solid #7038f8!important;
}

.border-left-ghost {
  border-left: .25rem solid #705898!important;
}

.border-left-dark {
  border-left: .25rem solid #705848!important;
}

.border-left-steel {
  border-left: .25rem solid #b8b8d0!important;
}

.border-left-fairy {
  border-left: .25rem solid #ee99ac!important;
}

.border-left-instinct {
  border-left: .25rem solid #f1c40f!important;
}

.border-left-mystic {
  border-left: .25rem solid #277ecd!important;
}

.border-left-valor {
  border-left: .25rem solid #992d22!important;
}

.border-left-no_team {
  border-left: .25rem solid #777777!important;
}

