<div class="col-md-6 col-xl-3 mb-4">
<div class="card shadow border-left-{POGO_TEAM} py-2">
<a href="/profile/{DISCORD_ID}" class="text-secondary" style="text-decoration:none">
<div class="card-body"><div class="row align-items-center no-gutters">
<div class="col"><img class="rounded-circle" src="{DISCORD_AVATAR}" 
width="32px" height="32px" style="margin-bottom: 4px;margin-right: 4px;" />
<span style="padding: 2px;">{DISCORD_USERNAME}</span></div></div>
<div class="row"><div class="col" style="margin: 0px;margin-top: 4px;margin-bottom: 4px;">
<h1 style="font-size: 16px;"><strong>Trainer Username:</strong></h1><span>{POGO_NAME}</span></div>
</div><div class="row"><div class="col" 
style="margin: 0px;margin-top: 4px;margin-bottom: 4px;"><h1 style="font-size: 16px;">
<strong>Trainer Level:</strong></h1><span>{POGO_LEVEL}</span></div>
<div class="col" style="margin: 4px;margin-right: 0px;margin-left: 0px;">
<h1 style="font-size: 16px;"><strong>Real Name:</strong></h1><span>{REAL_NAME}</span></div>
</div><div class="row">
<div class="col" style="margin: 4px;margin-right: 0px;margin-left: 0px;">
<h1 style="font-size: 16px;"><strong>Trainer Code:</strong></h1>
<span>{POGO_TRAINER_CODE}</span></div></div></div></a></div></div>